@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #db6a76;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Festive', cursive;
}

h1{
    font-size: 8rem;
}

h2{
    font-size: 6rem;
    margin-bottom: 3.6rem;
    line-height: 1.2;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}